@import "tailwindcss";


@theme{

    /* Primary (Gris #909090 et ses nuances) */
  --color-primary-50: #F7F7F7;
  --color-primary-100: #E6E6E6;
  --color-primary-200: #D1D1D1;
  --color-primary-300: #BDBDBD;
  --color-primary-400: #A8A8A8;
  --color-primary-500: #909090; /* Ta couleur exacte */
  --color-primary-600: #7A7A7A;
  --color-primary-700: #636363;
  --color-primary-800: #4D4D4D;
  --color-primary-900: #333333;

  /* Secondary (Noir #000000 et ses nuances) */
  --color-secondary-50: #F2F2F2;
  --color-secondary-100: #E5E5E5;
  --color-secondary-200: #CCCCCC;
  --color-secondary-300: #999999;
  --color-secondary-400: #666666;
  --color-secondary-500: #333333;
  --color-secondary-600: #262626;
  --color-secondary-700: #1A1A1A;
  --color-secondary-800: #0D0D0D;
  --color-secondary-900: #000000; /* Ta couleur exacte */
}

@layer utilities {

  .title-highlight {
    @apply text-sm font-bold uppercase tracking-[0.3em] mb-2
  }
  .title{
    @apply text-5xl font-black flex items-center gap-4
  }
}

html {
  scroll-behavior: smooth;
}